.IncDecDiv {
    /*float: left;*/
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: black;
}

#btnMinus {
    /*margin-left: 2px;*/
    color: white;
    float: left;
    width: 22.4%;
    /*height: 44px;*/
    /*margin-top: 5px;*/
    font-weight: bold;
    font-size: 20pt;
    border: none;
    outline: none;
    background-color: rgb(62, 144, 62);
}

#btnPlus {
    /*margin-left: 2px;*/
    color: white;
    float: right;
    width: 22.4%;
    /*height: 44px;*/
    /*margin-top: 5px;*/
    font-weight: bold;
    font-size: 20pt;
    border: none;
    outline: none;
    background-color: rgb(62, 144, 62);
}

#btnMinus:hover, #btnPlus:hover {
    background-color: silver;
    transition: all 0.3s ease-out;
}

.txtAnswer {
    color: rgb(62, 144, 62);
    float: left;
    align-self: center;
    width: 55%;
    /*height: 100%;*/
    font-size: 21pt;
    text-align: center;
    background-color: lightgrey;
    border: none;
    padding: none:
}
