.textBox {
  height: 88px;
  width: 99px;
  border-color: black;
  background-color: black;
  margin: 0px 0px 0px 0px;
  font-size: 50px;
  text-align: center;
  color: white;
  float: left;
}

.btns {
  border-radius: 18px;
  height: 91px;
  width: 106px;
  color: white;
  font-size: 40px;
  background: silver;
  outline: none;
  float: left;
  margin: 3px 0px 0px 5px;
}
.btns:hover {
  background: darkgrey;
}
.mainDiv {
  border-radius: 19.5px;
  width: 329px;
  height: 98px;
  background-color: black;
  border: 3px solid black;
  margin: 1px 0px 0px 12px;
}
