input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 20px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 8px 8px;
    background-repeat: no-repeat;
    padding: 3px 10px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: inherit;
    margin-top: 14px;
    outline: none;
}

input[type=text]:focus {
    float: left;
    width: calc(100% - 590px);
}

h2 {
    width: 390px;
    float: left;
}

.btnSearch {
    float: right;
    width: 96px;
    margin-top: 12px;
    /*margin-right: 30px;*/
}

.selectRowOption {
    float: left;
    width: 90px;
    height: 40px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: white;
    outline: none;
}

.pagination {

}
